extends layout

block content
 div.jumbotron.well
  h1= title
  p Welcome to #{'node.js >>>' + title} 
  
  p This is my first server. 

  p Let us start the trip of node.js!

 p
  a.btn.btn-primary.btn-lg(href="/hello") Learn more